.section-home{
   margin-top: 100px;
}

.btn-save{
    background-color: #5cd6a3;
    color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 5px;
    width: 4vw;
  
  &:hover{
    background-color: #3d916e;
    color: #000000;
  }

  @media (max-width: 768px) {
    width: 20%;
  }
}

.btn-edit{
    background-color: #85b5eb;
    color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 7px;
    width: 4vw;
  
  &:hover{
    background-color: #2683ec;
    color: #000000;
  }

  @media (max-width: 768px) {
    width: 35%;
  }
}

.btn-delete{
    background-color: #9e2020;
    color: #f9f9f9;
    border-radius: 0.5rem;
    padding: 7px;
    width: 4vw;
  
  &:hover{
    background-color: #db4949;
    color: #000000;
  }

  @media (max-width: 768px) {
    width: 45%;
  }
}

.img-blog{
width: 20vw;
height: 125px;
border-radius: 1rem;
object-fit: cover;
}

.btn-sign-in{
  background-color: #EAA557;
  color: #f9f9f9;
  border-radius: 0.5rem;
  padding: 7px;
  width: 4vw;

&:hover{
  background-color: #EAA557;
  color: #000000;
}

@media (max-width: 768px) {
  width: 30%;
}
}

.btn-sign-up {
  background-color: #5a57ea;
  color: #f9f9f9;
  border-radius: 0.5rem;
  padding: 7px;
  width: 4vw;

&:hover{
  background-color: #5a57ea;
  color: #000000;
}

@media (max-width: 768px) {
  width: 25%;
}
}

.list-navbar{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.btn-logout{
  background-color: #414141;
  color: #f9f9f9;
  border-radius: 0.5rem;
  padding: 4px;
  width: 4vw;
  margin-left: 50%;

&:hover{
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  width: 25%;
}
}